%h1 Editing album
.row
  .col-md-6
    = render "form", album: @album
  .col-md-6
    .p-3.mb-2.mt-2.rounded.border.border-danger.border-5
      %h3 Album löschen
      = button_to album_path(@album), method: :delete, data: { turbo: false }, class: 'btn btn-danger' do
        %i.fa.fa-trash
        Löschen

.mt-3
  = link_to "Abbrechen", @album, class: 'btn btn-secondary'
