%h1 Bild bearbeiten

.row
  .col-md-6
    = render 'form'
  .col-md-6
    .p-3.mb-2.mt-2.rounded.border.border-danger.border-5
      %h3 Bild löschen
      = button_to 'Löschen', album_picture_path(@album, @picture), method: :delete, data: { turbo: false }, class: 'btn btn-danger'

.mt-3
  = link_to 'Abbrechen', album_picture_path(@album, @picture), class: 'btn btn-secondary'
