%nav.navbar.navbar-expand-lg.static-top.bg-light
  .container-fluid
    %a.navbar-brand.link-dark{href: root_path} Photastic
    - if current_user
      %ul.navbar-nav
        %li.nav-item
          = button_to destroy_user_session_path, method: :delete, class: 'btn btn-link link-dark' do
            %i.fa.fa-circle-xmark.fa-xl
