%nav.navbar.navbar-expand-lg.static-top.navbar-dark{style: "background-color: #2596be;"}
  .container-fluid
    %a.navbar-brand{href: root_path} Photastic2
    %ul.navbar-nav
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", href: "#"} Home
        %li.nav-item
          %a.nav-link{href: "#"} Features
        %li.nav-item
          %a.nav-link{href: "#"} Pricing
        %li.nav-item
          = button_to "Log Out", destroy_user_session_path, method: :delete, class: 'nav-link'
